.var_1 {
    border: 15px solid blue;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    padding: 0px;
}

.var_1 li, .var_1 ul{
    display: inline;
    padding: 0px;
}

.var_2 li{
    background-color: lightgreen;
    width: 50%;
}

.exluded{
    visibility: hidden;
}